
header .pcUtil , #pcGnb {
    display: none;
}

.wrap {
    position: relative;
    background-color: #fff;
    min-width: 280px;
}

header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 60px;
}

header .hdWrap {
    padding: 15px 15px 0 20px;
    display: flex;
}

header h1.logo {
    padding-top: 2px;
}

header h1.logo a {
    display: block;
    background: url(../images/logo1.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 76px;
    height: 26px;
}

header .mbHdUtils {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

header .mbHdUtils ul.mbUtil {
    display: flex;
    gap: 12px;
}

header .mbHdUtils ul li a {
    font-family: 'HGGGothicssi';
    font-weight: 600;
    font-size: 12px;
    color: #111;
}

body.cn header .mbHdUtils ul li a {
    font-family: "Noto Sans SC", sans-serif !important;
}

header .mbHdUtils .hambugerMenu {
    width: 30px;
    height: 30px;
    position: relative;
}

header .mbHdUtils .hambugerMenu span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 5px;
    transition: .3s;
}

header .mbHdUtils .hambugerMenu .bar1 {
    top: 6px;
}

header .mbHdUtils .hambugerMenu .bar2 {
    top: 14px;
}

header .mbHdUtils .hambugerMenu .bar3 {
    bottom: 5px;
}

header .mbHdUtils .hambugerMenu.active span {
    width: 26px;
}

header .mbHdUtils .hambugerMenu.active .bar1 {
    transform: rotate(45deg) translate(4px, 7px);
}

header .mbHdUtils .hambugerMenu.active .bar2 {
    display: none;
}

header .mbHdUtils .hambugerMenu.active .bar3 {
    transform: rotate(-45deg) translate(4px, -7px);
}

#mbMenuArea {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    max-width: 500px;
    overflow-y: auto;
}

#mbMenuArea .content {
    padding-top: 60px;
}

#mbMenuArea .topArea {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 0 20px;
    width: 100%;
    max-width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
}

#mbMenuArea .topArea .logo {
    margin-right: auto;
    display: block;
    background: url(../images/logo1.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 76px;
    height: 26px;
}

#mbMenuArea .topArea .mbUtil {
    margin-right: 40px;
    display: flex;
    gap: 18px;
}

#mbMenuArea .topArea .mbUtil li {
    position: relative;
}

#mbMenuArea .topArea .mbUtil li:first-child::before {
    display: none;
}

#mbMenuArea .topArea .mbUtil li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -9px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #111;
}

#mbMenuArea .topArea .mbUtil li a {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 13px;
    color: #111;
    letter-spacing: -0.8px;
}

body.cn #mbMenuArea .topArea .mbUtil li a {
    font-family: "Noto Sans SC", sans-serif !important;
}

#mbMenuArea .topArea .mbUtil li a.appDown {
    font-weight: 500;
    color: #4e2bf4;
    padding-right: 13px; /* 이미지 넣을 자리 */
    background: url(../images/ic_download1.png) no-repeat;
    background-size: auto 11px;
    background-position: right center;
}

.gloBtn {
    display: block;
    background: url(../images/ic_gnb_global.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: 18px auto;
    padding: 0;
}

#mbMenuArea .topArea .mbUtil .global select  {
    width: 24px;
    height: 24px;
    opacity: 0;
    position: absolute;
    top: 0;
}

#mbMenuArea .myArea {
    margin-top: 20px;
    padding: 0 20px;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 16px;
    color: #111;
    letter-spacing: -0.8px;
}

body.cn #mbMenuArea .myArea {
    font-family: "Noto Sans SC", sans-serif !important;
}

#mbMenuArea .myArea a {
    color: #4e2bf4;
}

#mbMenuArea .appArea {
    margin-top: 30px;
    background: #f1f3ff;
}

#mbMenuArea .appArea a {
    display: block;
    padding: 12px 20px;
}

#mbMenuArea .appArea a p {
    padding: 9px 55px 9px 0;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 13px;
    color: #111;
    margin: 0 auto;
    max-width: 274.51px;
    background: url(../images/ic_app1.png) no-repeat;
    background-size: 30px;
    background-position: right center;
}

body.cn #mbMenuArea .appArea a p {
    font-family: "Noto Sans SC", sans-serif !important;
}

#mbMenuArea #mbGnb {
    margin-top: 30px;
    padding: 0 20px 30px 20px;
}

#mbMenuArea #mbGnb > ul {
    position: relative;
}

#mbMenuArea #mbGnb > ul > li.depth1 {
    margin-top: 30px;
}

#mbMenuArea #mbGnb > ul > li.depth1 span {
    position: relative;
    font-family: "HGGGothicssi";
    font-weight: 800;
    font-size: 20px;
    color: #111;
}
body.cn #mbMenuArea #mbGnb > ul > li.depth1 span {
    font-family: "Noto Sans SC", sans-serif !important;
}

#mbMenuArea #mbGnb > ul > li.depth1.active span {
    color: #4e2bf4;
    transition: 0.3s;
}

#mbMenuArea #mbGnb > ul > li.depth1.active span::before {
    content: "";
    border-radius: 50%;
    background: #4e2bf4;
    width: 6px;
    height: 6px;
    position: absolute;
    right: -6px;
    top: -4px;
}

#mbMenuArea #mbGnb ul.depth2 {
    display: none;
    position: absolute;
    left: 45%;
    top: 0;
}

#mbMenuArea #mbGnb ul.depth2 > li {
    margin-top: 25px;
}

#mbMenuArea #mbGnb ul.depth2 > li:first-child {
    margin-top: 0;
}

#mbMenuArea #mbGnb ul.depth2 > li a {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 16px;
    color: #111;
    letter-spacing: -0.8px;
}

body.cn #mbMenuArea #mbGnb ul.depth2 > li a {
    font-family: "Noto Sans SC", sans-serif !important;
}

/* =============== PC =============== */
@media (min-width: 1024px) {
    
    header .pcUtil , #pcGnb {
        display: block;
    }

    header .mbHdUtils , #mbMenuArea {
        display: none;
    }

    header {
        height: 120px;
        z-index: 100;
    }

    header .hdWrap {
        height: 100%;
        padding: 40px 30px 0 30px;
        max-width: 1284px;
        margin: 0 auto;
        position: relative;
    }

    header .pcUtil {
        height: 40px;
        display: flex;
        gap: 0 18px;
        align-items: center;
        position: absolute;
        top: 0;
        right: 30px;
    }

    header .pcUtil li a {
        font-family: "Noto Sans KR";
        font-weight: 400;
        font-size: 13px;
        color: #767676;
        letter-spacing: -0.8px;
    }

    header .pcUtil li .appDown {
        font-weight: 700;
        color: #4e2bf4;
        padding-right: 12px;
        background: url(../images/ic_download1.png) no-repeat;
        background-position: right center;
    }

    header .global {
        position: relative;
    }

    header .global .gloDrop {
        display: none;
        position: absolute;
        top: 24px;
        right: 0;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #4e2bf4;
        border-radius: 5px;
        z-index: 99;
    }

    header .global:hover .gloDrop {
        display: block;
    }

    header .global .gloDrop li {
        font-family: "Noto Sans KR";
        font-weight: 400;
        font-size: 13px;
        color: #767676;
        letter-spacing: -0.8px;
        line-height: 20px;
        padding: 0 5px;
        cursor: pointer;
    }

    header .global .gloDrop li:hover {
        background-color: #f1f1f1;
    }

    header h1.logo {
        margin-right: auto;
        padding-top: 20px;
    }

    header h1.logo a {
        display: block;
        width: 90px;
        height: 31px;
        background: url(../images/pc_logo1.png) no-repeat;
        background-size: auto;
        background-position: 0 0;
    }

    #pcGnb {
        z-index: 90;
    }

    #pcGnb > ul {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #pcGnb > ul > li {
        padding-right: 80px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }

    #pcGnb > ul > li:last-child {
        padding-right: 0;
    }

    #pcGnb > ul > li .depth1 {
        font-family: "HGGGothicssi";
        font-weight: 600;
        font-size: 22px;
        color: #111;
        position: relative;
    }

    #pcGnb > ul > li .depth1.active , #pcGnb > ul > li:hover .depth1 {
        color: #4e2bf4;
        transition: .3s;
    }

    #pcGnb > ul > li .depth1::before {
        content: "";
        position: absolute;
        right: -7px;
        top: -4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #4e2bf4;
        opacity: 0;
    }

    #pcGnb > ul > li .depth1.active::before , #pcGnb > ul > li:hover .depth1::before {
        opacity: 1;
        transition: .3s;
    }

    #pcGnb .depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
    }

    #pcGnb .depth2 li {
        margin-top: 20px;
    }

    #pcGnb .depth2 li:first-child {
        margin-top: 15px;
    }

    #pcGnb .depth2 li a {
        font-family: "Noto Sans KR";
        font-weight: 500;
        font-size: 16px;
        color: #111;
        letter-spacing: -0.8px;
    }

    #pcGnb .depth2 li a:hover {
        color: #4e2bf4;
    }
    
    header .pcGnbBg {
        background-color: #fff;
        height: 0;
        position: relative;
    }

    .headerDim {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
    }

}